<div class="container text-center">
    <h1>About Us</h1>
    <br/>
    <p>We are DevMatch. Our company focuses on creating an exclusive community for
    developer, designers, investors and entrepreneurs to meet.</p>
</div>

<hr class="style14">
