/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import "font-awesome-sprockets";
@import "font-awesome";

//Typography Styles
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

//Background Gradients
.navbar, .home-callout {
  /* Gradient provided by UI Gradients */
  background: #fd746c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #fd746c , #ff9068); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fd746c , #ff9068); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-brand {
  font-family: 'Open Sans', san-serif;
  font-weight: 800;
}

//Nav Styles
.navbar {
  border: none;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.8;
  }
}

// Navbar Mobile
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #ff9068;
  }
}

// Homepage Styles
.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.btn-warning {
  background-color: #ff9068;
  border-color: transparent;
  &:hover, &:focus, &:active &:visited {
    background-color: #ff9068;
    opacity: 0.8;
  }
}

.btn-primary {
  background-color: #404FB2;
  border-color: transparent;
  &:hover, &:focus, &:active &:visited {
    background-color: #404FB2;
    opacity: 0.8;
  }
}

.btn-success {
  background-color: #25B296;
  border-color: transparent;
  &:hover, &:focus, &:active &:visited {
    background-color: #25B296;
    opacity: 0.7;
  }
}


/* Overrides default bootstrap button colors for hover,active etc */
.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
    background-color: #ff9068 !important;
    padding: 15px;
    border-color: transparent;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #404FB2 !important;
    padding: 15px;
    border-color: transparent;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #25B296 !important;
    padding: 15px;
    border-color: transparent;
}


.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  margin: 6px;
}

.alert-notice {
  display: none;
}

.home-signup-links {
  margin-top: 20px;
}

.well {
  margin-top: 20px;
}

// Experimenting with custom horizontal rules

hr.style14 { 
  opacity: 0.5;
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #ffffff, #8c8b8b, #ffffff);
  background-image: -moz-linear-gradient(left, #ffffff, #8c8b8b, #ffffff);
  background-image: -ms-linear-gradient(left, #ffffff, #8c8b8b, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #8c8b8b, #ffffff); 
}

//Sign up styles

h2.text-center {
  padding-top: 5px;
  padding-bottom: 25px;
}

//login link color
a {
  color: #ff9068;
  &:hover, &:focus, &:active &:visited {
    color: #ff9068;
    opacity: 0.8;
  }
}

//flash message styles

.flash-container {
  position: absolute;
  width: 100%;
}
.alert-notice, .alert-alert {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: -14px;
}

h2, h4 {
  opacity: 0.8;
}